.addimage .custum-file-upload {
    margin-top: 8px;
}

.row1 {
    display: flex;
}

.row1 .basic-first {
    display: flex;
    margin-left: 80px;
    gap: 80px;
}

.basic-first input {
    border-radius: 4px;
    width: 290px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}


.row1 .basic-second {
    display: flex;
    margin-left: 80px;
    gap: 80px;
}

.basic-second input {
    border-radius: 4px;
    width: 290px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.basicform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gender {
    border-radius: 4px;
    width: 290px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#martial {
    border-radius: 4px;
    width: 290px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}


.save-button {
    position: fixed;
    top: 660px;
    right: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: #7107eb;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px 20px 13px 20px;
}

.save-button:hover {
    background-color: #b50cf7;
    cursor: pointer;
}

.save-button i {
    margin-right: 7px;
}


.row2 .email input {
    border-radius: 4px;
    width: 290px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
    font-weight: bold;
    color: #817f81;
}

.row2 {
    margin-top: 30px;
    display: flex;
}

.change-email-button {
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: #4883f1;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.change-email-button:hover {
    background-color: #5cb4e7;
    cursor: pointer;
}

.change-email-button i {
    margin-right: 5px;
}

.usertype {
    margin-left: 20px;
}

.email p {
    margin-bottom: 6px;
}

.usertype p {
    margin-bottom: 6px;
}

#gender option {
    padding: 10px;
}

.in-row1-college {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#course {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#course-spec {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#organisation {
    border-radius: 4px;
    width: 490px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#duration-start {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
    margin-right: 53px;
}

#duration-end {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#s-class {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#work-exp {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#curr-sector {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

#designation {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.in-pro-row1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#interest {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.in-row1-fresher {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.in-school-row1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#type-org {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.in-organizer-row1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.weblinks-box {
    display: flex;
    margin-bottom: 10px;
}

#web-links-type {
    border-radius: 4px;
    width: 120px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 10px;
    background: transparent;
}

.weblinks input {
    border-radius: 4px;
    width: 790px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.row4 {
    margin-top: 30px;
}

.remove-btn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

.add-link-bnt {
    border: none;
    font-size: 15px;
}

.add-link-bnt i {
    margin-right: 5px;
}

.add-link-bnt:hover {
    color: #4883f1;
    text-decoration: underline;
}


.input-container {
    margin-bottom: 10px;
    margin-top: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
    width: 100%;
    padding: 10px;
   
  
    box-sizing: border-box;


    border-radius: 4px;
 
 

    border: 2px solid #7b777d;
    font-size: 14px;

    background: transparent;
}

.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    display: none;
}

.dropdown-list.show {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.bubble {
    display: inline-block;
    background-color: #ebdbf4;
    color: rgb(101, 70, 212);
    border-radius: 12px;
    padding: 7px 14px;
    margin: 5px;
    font-size: 14px;
    position: relative;
}

.bubble button {
    background: none;
    border: none;
    color: rgb(67, 34, 185);
    cursor: pointer;
    margin-left: 10px;
}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.input-profile-container {
    position: relative;
}

.dropdown-input {
    border-radius: 4px;
    width: 390px;
    border: none;
    outline: none;
    height: 50px;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    display: none;
}

.dropdown-list.show {
    display: block;
}

.dropdown-list-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list-item:hover {
    background-color: #f1f1f1;
}

.row4 p {
    margin-bottom: 10px;

}

.work-exp {
    width: 100%;
}

.work-exp p {
    margin-bottom: 20px;
}


.add-milestone-bnt {
    border: none;
    font-weight: 500;
    border: 2px solid greenyellow;
    padding: 15px 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.work-exp button i {
    margin-right: 10px;
}

.add-milestone-bnt:hover {
    background-color: #c1eaf4;
}



/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 40px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    position: relative;
    top: 1px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content label {
    font-weight: bold;
}

.modal-content input,
.modal-content textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Searchable dropdown styles */
.dropdown-container {
    position: relative;
}

.dropdown-list {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    display: none;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.work-experience-container {
    width: 100%;
    margin-bottom: 20px;
  
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 1px solid rgb(205, 204, 204);
}

.work-experience {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.work-experience:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.work-experience h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.work-experience .company {
    font-size: 16px;
    color: #777;
}

.work-experience .date-range {
    font-size: 14px;
    color: #aaa;
}

.work-experience p {
    margin: 10px 0 0;
    color: #555;
}

.work-experience .actions {
    margin-top: 10px;
}

.work-experience .actions button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.work-experience .actions button.delete {
    background-color: #DC3545;
}


.add-certificate-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 4000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content label {
    font-weight: bold;
}

.modal-content input, .modal-content textarea, .modal-content .dropdown-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Certificate showcase styles */
.certificate-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgb(190, 186, 186);
    transition: transform 0.2s;
}

.certificate-box:hover {
    transform: scale(1.02);
}

.certificate-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.certificate-details {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.certificate-actions {
    margin-top: 15px;
}

.certificate-actions button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.certificate-actions button:hover {
    background-color: #0056b3;
}

.certificate-actions button:last-child {
    background-color: #dc3545;
}

.certificate-actions button:last-child:hover {
    background-color: #c82333;
}

.cert-form p{ 
    margin-bottom: 20px;
}

.contact-info{
    margin-top: 20px;
}

.contact-info .phone-no-row{
    display: flex;
    justify-content: space-between;
}

.contact-info .phone-no-row input{
    border-radius: 4px;
    width: 590px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.contact-info .address-line{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-info .address-line input{
    border-radius: 4px;
    width: 590px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}

.stat-coun-line{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.stat-coun-line input{
    border-radius: 4px;
    width: 290px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid #7b777d;
    font-size: 14px;
    padding: 8px 15px 8px 14px;
    background: transparent;
}


.stat-coun-line .coun-state{
    display: flex;
    gap: 10px;
}


.stat-coun-line .city-code{
    display: flex;
    gap: 10px;
}