.box1{
    border-radius: 15px;
    height: 230px;
    width: 55px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: fixed;
}


.iconbutton {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}

.iconbutton:hover{
    background-color: rgb(227, 221, 221);
}

.box1{
    padding: 10px;
}

.box1 .menulist{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.box1 .menulist a{
    text-decoration: none;
}

.box1 .menulist .home{
    padding: 10px; 
}
.box1 .menulist .home i{
    margin-right: 10px;
    color: rgb(96, 57, 170);
}

.box1 .menulist .home span{
    font-weight: 500;
    color: rgb(96, 57, 170);
}
.box1 .menulist .home:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}


.box1 .menulist .course{
    padding: 10px; 
}
.box1 .menulist .course i{
    margin-right: 10px;
    color: rgb(96, 57, 170);
}

.box1 .menulist .course span{
    font-weight: 500;
    color: rgb(96, 57, 170);
}
.box1 .menulist .course:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 8px;
}

.content-main{
    padding-top: 65px;
}

.sidemenu{
    margin-left: 10px;
}


.dropdown{
    width: 190px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 20px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    z-index: 1000;
}

.dropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.dropdown ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}