<div class="about-form">
    <form action="{{url_for('main.edit_about')}}" method="post" enctype="multipart/form-data">
        <div class="aboutme">
            <p>About Me</p>
            <textarea name="about" id="bigTextField" rows="10" cols="50" placeholder="Introduce yourself here! Share a brief overview of who you are, your interest, and connect with fellow users."></textarea>
        </div>
    
        <div class="input-container dropdown-container">
            <label for="domains_offered">Interested Domains</label>
            <input type="text" id="domains_input" class="dropdown-input" placeholder="Type a domain...">
            <div id="domains_list" class="dropdown-list"></div>
        </div>
        <div id="selected_domains" class="bubble-container">
            <!-- Selected domains will be displayed here -->
        </div>
     
            <div class="input-container dropdown-container">
                <label for="skills_offered">Skills Offered</label>
                <input type="text" id="skills_input" class="dropdown-input" placeholder="Type a skill...">
                <div id="skills_list" class="dropdown-list"></div>
            </div>
            <div id="selected_skills" class="bubble-container">
                <!-- Selected skills will be displayed here -->
            </div>
            <button class="save-button" type="submit"><i class="fa-solid fa-floppy-disk"></i>Save</button>
    </form>
    


    
</div>