<div class="about-form">
    <form action="{{url_for('main.edit_about')}}" method="post" enctype="multipart/form-data">
        <div class="aboutme">
            <p>About Me</p>
            <textarea name="about" id="bigTextField" rows="10" cols="50" placeholder="Introduce yourself here! Share a brief overview of who you are, your interest, and connect with fellow users.">{{user.about}}</textarea>
        </div>
    
        <div class="input-container dropdown-container">
            <label for="domains_offered">Interested Domains</label>
            <input type="text" id="domains_input" class="dropdown-input" placeholder="Type a domain...">
            <div id="domains_list" class="dropdown-list"></div>
        </div>
        <div id="selected_domains" class="bubble-container">
            <!-- Selected domains will be displayed here -->
            {% for domain in user.interested_domain %}
            <div class="bubble">
                {{ domain }} <button onclick="removeItem(this)"><i class="fa-solid fa-xmark"></i></button>
                <input type="hidden" name="domains_offered[]" value="{{ domain }}">
            </div>
            {% endfor %}
        </div>
     
            <div class="input-container dropdown-container">
                <label for="skills_offered">Skills Offered</label>
                <input type="text" id="skills_input" class="dropdown-input" placeholder="Type a skill...">
                <div id="skills_list" class="dropdown-list"></div>
            </div>
            <div id="selected_skills" class="bubble-container">
                <!-- Selected skills will be displayed here -->
                {% for skill in user.skills %}
                <div class="bubble">
                    {{ skill }} <button onclick="removeItem(this)"><i class="fa-solid fa-xmark"></i></button>
                    <input type="hidden" name="skills_offered[]" value="{{ skill }}">
                </div>
                {% endfor %}
            </div>

            <div class="contact-info">
                <div class="phone-no-row">
                    <div>
                        <p>Phone Number</p>
                        <input type="text" id="phone_num" name="phone_num" value="{{user.phone_num}}">
                    </div>
                    <div>
                        <p>Alt - Phone Number</p>
                        <input type="text" id="alt-phone_num" name="alt-phone-num" value="{{user.alternative_phone_num}}">
                    </div>
                </div>
                <div class="address-line">
                    <div>
                        <p>Permanent Address</p>
                        <input type="text" id="per-address" name="per-address" value="{{user.permanent_address}}" placeholder="Address line 1">
                    </div>
                    <div>
                        <p>Address line 2</p>
                        <input type="text" id="per-address-2" name="per-address-2" value="{{user.per_address_2}}" placeholder="Address line 2">
                    </div>
                </div>
                <div class="stat-coun-line">
                    <div class="coun-state">
                        <div>
                            <p>Country</p>
                            <input type="text" id="country" name="country" value="{{user.country}}">
                        </div>
                        <div>
                            <p>State</p>
                            <input type="text" id="state" name="state" value="{{user.state}}">
                        </div>
                    </div>
                    <div class="city-code">
                        <div>
                            <p>City</p>
                            <input type="text" id="city" name="city" value="{{user.city}}">
                        </div>
                        <div>
                            <p>Postal Code</p>
                            <input type="text" id="pos-code" name="pos-code" value="{{user.postal_code}}">
                        </div>
                    </div>
          
                </div>
            </div>
            <button class="save-button" type="submit"><i class="fa-solid fa-floppy-disk"></i>Save</button>
    </form>
    


    
</div>