<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Register{% endblock %}
    {% block content %}
    {% include 'maintemplate.html' %}
    <div class="newscontent">
        {% include 'newscontent.html' %}
    </div>

</body>

</html>
{% endblock %}